/* common shared style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles for the entire body */
body {
    background-color: #fff;
}

.body-sections{
    /* margin-top: 3%;
    margin-right: 8%;
    margin-bottom: 3%;
    margin-left: 8%; */
    margin: 3% 8%;
}

.header{
    /* min-height: 100vh; */
    width: 100%;
    /* background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("images/banner.png"); */
    /* color: #5A5A5D; */
    /* background-position: center;
    background-size: cover;
    position: relative; */
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
}
nav img{
    width: 48px;
    height: 56px;
}
.logo-content{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.logo-content h2{
    padding: 0% 4%;
    
}
.logo-content h2 span{
    color: #205412;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #5A5A5D;
    text-decoration: none;
    font-size: 18px;
}
.nav-links ul .active::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
nav .fa{
    display: none;
}


            /***Top Banner section***/
/* Top Banner */
#banner-contents {
    background: url("../Images/top-banner.png") no-repeat center / cover;
    /* height: 500px; */
    overflow: hidden;
    color: #fff;
    /* Shadow effect */
    position: relative;
    z-index: 1;
    /* Border-radius for a rounded look */
    border-radius: 16px;
}
/* Pseudo-element for the shadow effect */
#banner-contents::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 70%);
    top: 0;
    left: 0;
    z-index: -1;
}

/* Banner text */
#banner-contents .banner-text {
    padding-top: 106px;
    text-align: center;
    color: #fff;
}
/* Banner text heading */
#banner-contents .banner-text h1 {
    font-size: 64px;
    font-weight: bolder;
    margin-bottom: 2%;
}
/* Banner text paragraph */
#banner-contents .banner-text p {
    font-family: 'Lucida Sans Regular', sans-serif;
    font-size: 20px;
    margin-bottom: 5%;
}
/* Banner inputs section */
.banner-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
/* Style for the form within the banner inputs */
.banner-inputs form {
    display: flex;
    gap: 24px;
    background-color: #ccc;
    padding: 1%;
    border-radius: 5px;
    margin-bottom: 5%;    
}
/* Style for the input field */
.banner-inputs input {
    padding: 10px;
    font-size: 16px;
    width: 175px;
    height: 52px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
/* Style for the select dropdowns */
.banner-inputs select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}
/* Style for the main button*/
.main-btn{
    display: flex;
    align-items: center;
    background-color: #FF5400;
    padding: 5px 30px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
/* Find button icon */
.main-btn span{
    padding: 0px 10px;
}
/* Hover effect for the main button */
.main-btn:hover{
    background-color: #000;
}


            /*** Popular Tour Section ***/

/* Container for popular tours */
#popular-tours {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7% !important;
    font-family: 'Lucida Sans Regular', sans-serif;
}
/* Content styling for popular tours */
.popular-tours-content {
    flex: 1;
    padding-right: 20px;
}
/* Title styling for popular tours */
.popular-tours-content h1 {
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 20px;
}
/* Paragraph styling for popular tours */
.popular-tours-content p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #5A5A5D;
}
/* List item styling for popular tours */
.popular-tours-content li {
    list-style-type: disc;
    margin-left: 20px;
    line-height: 1.6;
    color: #5A5A5D;
    margin-bottom: 2%;
}
/* Styling for a common button class */
.main-btn-others {
    padding: 2% 4%;
    font-weight: 600;
}
/* Styling for images in popular tours section */
.popular-tours-img img {
    width: 100%;
    border-radius: 8px;
}


            /*** Destination Section ***/
#destination, #why-choose{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Style the destination contents */
.destination-contents{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 3% 0%;
    font-family: 'Lucida Sans Regular', sans-serif;
}
/* Title styling for destination contents */
.destination-contents h1{
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 4%;
}
/* Destination contents paragraph */
.destination-contents p{
    font-size: 16px;
    color: #5A5A5D;
}
/* Styling for the container of destination images */
.destination-images {
    display: grid;
    gap: 2%;
}
/* Styling for rows of destination images */
.destination-images-row {
    display: flex;
    gap: 2%;
}
/* Styling for each destination image */
.destination-image {
    position: relative;
    align-items: center;
}
/* Styling for text overlay on destination images */
.destination-image .image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: 'Segoe UI', sans-serif;
    font-size: 200%;
}


            /***Why Choose Us Section***/
#why-choose {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4% 8%;
    font-family: 'Segoe UI', sans-serif;
}
/* Heading Style */
.why-choose-heading {
    text-align: center;
    margin-bottom: 4%;
}
/* Content Grid */
.why-choose-contents {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
/* Individual Content Style */
.why-choose-content{
    flex: 0 1 48%;
    flex-direction: column;
    padding: 2%;
    margin: 1%;
}
/* Icon Style */
.why-choose-content img {
    height: 64px;
    width: 64px;
}
.why-choose-content h2{
    font-size: 24px;
    font-weight: bolder;
    margin: 3.5% 0%;
}
.why-choose-content p{
    color: #5A5A5D;
    line-height: 1.6;
}
#why-choose-content-1{
    background-color: rgb(251, 181, 99, 0.1);
    border: 1px solid #ccc;
    border-radius: 16px;
}
#why-choose-content-2{
    background-color: rgb(41, 206, 246, 0.1);
    border: 1px solid #ccc;
    border-radius: 16px;
}
#why-choose-content-3{
    background-color: rgb(233, 68, 68, 0.1);
    border: 1px solid #ccc;
    border-radius: 16px;
}


            /***Newsletter Section***/

#newsletter-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    font-family: 'Segoe UI', sans-serif;
}
.newsletter-contents{
    display: flex;
    flex-direction: column;
    max-width: 475px;
    padding: 2%;
    border: 1px solid #FF5400;
    border-radius: 10px;
    /* height: 100%; */
}
.newsletter-contents h2{
    font-size: 24px;
    font-weight: bolder;
    padding-bottom: 5%;
}
.newsletter-contents p{
    font-size: 14px;
    line-height: 1.6;
    color: #5A5A5D;
}
.newsletter-contents hr{
    margin: 6% 0%;
    color: #131318;
}
/* Style for the input field */
.newsletter-contents form input{
    padding: 10px;
    font-size: 16px;
    width: 393px;
    height: 52px;
    background-color: #ccc; 
    border: none;  
    border-radius: 8px;
    margin-bottom: 6%;
}
#newsletter-contents-btn{
    padding: 3% 37.5%;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 6%;
}
/* Style for the newsletter content image container */
.newsletter-content-img {
    position: relative;
    overflow: hidden;
}
/* Style for the newsletter image */
.newsletter-content-img img {
    width: 100%; /* Make the image fill its container */
    height: auto; /* Maintain aspect ratio */
}
/* Style for the overlay content */
.newsletter-img-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff; 
    background-color: #FF5400;
    padding: 3%;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}
/* Style for the website URL */
.newsletter-img-content p {
    margin-bottom: 8px;
    font-size: 14px;
}
/* Style for the discount text */
.newsletter-img-content h2.image-text {
    font-size: 24px;
    font-weight: bold;
}
/* Hover effect for the image */
.newsletter-img-content:hover{
    transform: scale(1.1); /* Scale the image on hover */
}



            /***Footer***/
.footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 502px;
    width: 100%;
    background-color: rgba(61, 61, 67, 0.1);
}
.footer-content{
    width: 872px;
}
.footer-content p{
    font-family: 'Gill Sans', sans-serif;
    font-size: 16;
    color: #5A5A5D;
    margin: 2% 0%;
    line-height: 1.6;
}
.footer-icons i{
    width: 20px;
    height: 16px;
}
.footer-content hr{
    margin: 2% 0%;
}






